{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base HTML</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include 'includes/base_css.html' %}
    
</head>
<body>
    <div class="container">
        <nav class="#37474f blue-grey darken-3">
        <div class="container nav-wrapper">
            <a href="{% url 'tobaccos:index' %}" class="brand-logo">Tatbak</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" data-activates="mobile-demo">
                <li><a href="{% url 'tobaccos:mixes' %}">Mixes</a></li>
                <li><a href="{% url 'tobaccos:products' %}">Products</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
        </nav>
    </div>

    {% block content%}

    {% endblock content %}

    {% include 'includes/base_scripts.html' %}
</body>

</html>